
body {
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif */
font-family: 'Merriweather', serif;
/* font-family: 'Montserrat', sans-serif;
 */
}

h4 {
  color: #66BFBF;
}

a {
  text-decoration: underline;
  color: #000;
}

a:hover {
  color: #1abc9c !important;
}


.navigation-bar {
  color: black;
}
.navbar-brand {
  font-family: "Ubuntu";
  /* font-family: 'Sacramento', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-size: 2rem; */
  font-weight: bold;
  text-decoration: none;
}

.navbar {
    padding: 5px 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    /* font-size: 12px; */
    letter-spacing: 5px;
    font-weight: bold;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.navbar-nav  li a {
  text-decoration: none;
}

.navbar-brand:hover{
  color: #1abc9c !important;
}

.navbar-nav  li a {
    color: #000000;
}

.my-image {
  border-radius: 100%;
  width: 70%;
}

/* div ul {
  line-height: 2rem;
} */

.home-image {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.research-interests {
  padding-left: 5rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.teaching-assistant {
  padding-top: 1rem;
  /* padding-left: 3rem; */
}

.publications {
  padding-top: 1rem;
  /* padding-left: 3rem; */
}

.awards {
  padding-top: 1rem;
  /* padding-left: 3rem; */
}

.about-me {
  padding-bottom: 5rem;
  line-height: 1.5;
}

.container-fluid {
  position: relative;
  padding: 1% 10%;
}

p {
  text-align: justify;
}

.navbar-item {
  padding: 0 5px;
}

.touchcore-image {
  width: 50%;
  border-radius: 8px;
  float: right;
  margin-left: 10px;
}
